---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Tiffany White</h1>
      <h2 class="text-base dark:text-white">
        Hummelstown, PA
      </h2>
      <h3 class="text-base dark:text-white">
        <a
          href="tel:+14126543356"
          class="hover:text-sky-400 dark:text-white dark:hover:text-sky-300"
          >Phone
        </a>
        |
        <a
          href="mailto:tiffany@tiffanyrwhite.com"
          class="hover:text-sky-400 dark:text-white dark:hover:text-sky-400"
          >Email</a
        >
      </h3>
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />

      <RowEntry
        description="Created the Session History Vue component for Calaxy's internal admin tool, as well as a Pagination Cursor Vue component to paginate users from a Rust API built by an external contractor with Calaxy. I Took Figma designs to create a social token leaderboard for Calaxy token holders with a junior developer on our team and coordinated with the junior developer to work out the layout bugs in the social token leaderboard. Refactored all of the HTML and CSS in the social token leaderboard and collaborated with a junior developer on improving the speed of our API calls for the social token leaderboard."
        name="09/2021 - 08/2022"
        title="Software Engineer"
        subTitle="Calaxy"
      />

      <RowEntry
        description="Refactoring bumped.com’s Gatsby site using styled-components, JavaScript, and TypeScript, with GraphQL querying our database."
        name="03/2020- 03/2020"
        title="Freelance Frontend Engineer"
        subTitle="Bumped"
      />

      <RowEntry
        description="Responsible for rebuilding the entire UI for one government website using React, Reactstrap, and Typescript. I also built the login page and citation pages with the United States Government web design language and custom HTML for the footer and header. I was responsible for maintaining government websites with HTML 5, SASS,JavaScript and jQuery to add interactivity. I also attended weekly check-ins and daily standups to discuss the progression of our work for clients using Jira and Confluence. Got acquainted with TDD using Jenkins as continuous integration and testing before deploying to production"
        name="07/2019 - 02/2020"
        title="Frontend developer"
        subTitle="ICF"
      />
    </div>

<!--     <div id="programming-experience" class="mb-6"> -->
<!--       <SectionTitle title="Programming experience" /> -->

<!--       <RowEntry -->
<!--         description="Developed an app for ordering food with Angular." -->
<!--         name="07/2019 - 12/2019" -->
<!--         title="Food ordering app" -->
<!--       /> -->
<!--     </div> -->


    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://github.com/twhite96" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://linkedin.com/in/tiffanyrwhite" />
      </div>
      <div class="mr-4">
        <SocialIcon
          icon="fa-brands:stack-overflow"
          label="stack-overflow"
          url="https://stackoverflow.com/users/3800146/tiffanywhitedev"
        />
      </div>
      <div>
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://www.tiffanyrwhite.com" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>